body {
	margin: 0;
	font-family: 'Syne', sans-serif;
  background-color: hwb(192 8% 23% / 0.24);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:fit;
}

table {
  border: 5px solid white;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;

}

td{
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  font-weight: lighter;

}

th {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  font-weight: bold;

}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.centred {
	margin: auto;
    width: 50%;
    padding: 10px;
}

.bg-dark {
    background-color: #01020e !important;
}